form {
  box-sizing: border-box;
  margin-top: 20px;

  h4 {
    text-align: center;
  }

  .form-group {
    width: 75%;
    margin: 20px auto;

    input {
      display: block;
      box-sizing: border-box;
      width: 100%;
      padding: 10px 20px;
    }
  }
}